div {
    border: black;
    border-style: solid;
    margin: 5px;
}
#third p{
    visibility: hidden;
}
h1{
    visibility: hidden;
}

#second{
    visibility: hidden;
}
img{
    visibility: visible;
}